.footer {
  margin: 50px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.footer-logo {
  width: 120px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  flex: 1;
}

.social-links a {
  color: white;
  font-size: 35px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #b415ff;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-bottom: 40px;
  gap: 10px;
}

.footer-bottom-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-bottom-right p {
  margin: 0;
}

/* ---------------- Responsive ---------------- */
@media (max-width: 992px) {
  .footer {
    margin: 40px 20px;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-logo {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 30px 10px;
  }

  .social-links a {
    font-size: 28px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
  }

  .footer-bottom-left {
    font-size: 14px;
  }

  .footer-bottom-right p {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .social-links a {
    font-size: 24px;
  }

  .footer-bottom-right {
    flex-direction: column;
    gap: 8px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}
